#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>
#include <behaviors/rgbled_widget.dtsi>
#include "Solkatstice_macro.keymap"

#define FUNCTION 1
#define NUM 2 
#define MOUSE 3
#define SCROLL 4
#define BT 5
 
/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
//&kp CAPS        &kp BKSP
//&toJIS 1 TAB   
//&kp CAPS                  
//&kp LSHFT          &kp FSLH  &kp RSHFT    
//&mt LCTL ESC 

&kp Q     &kp W      &kp E      &kp R      &kp T        &kp Y     &kp U      &kp I      &kp O      &kp P
&kp A     &kp S      &kp D      &kp F      &kp G        &kp H     &kp J      &kp K      &kp L      &kp ENTER
&kp Z     &kp X      &kp C      &kp V      &kp B        &kp N     &kp M      &kp COMMA  &kp DOT    &kp UP
          &kp LGUI   &kp LALT   &lt 2 SPACE                                             &kp LEFT   &kp DOWN   &kp RIGHT
>;
       };

       function_layer {
           bindings = <
&kp PG_UP  &kp UP     &kp PG_DN  &kp HOME  &trans       &kp F1    &kp F2     &kp F3     &kp F4     &kp F5
&kp LEFT   &kp DOWN   &kp RIGHT  &kp END   &trans       &kp F6    &kp F7     &kp F8     &kp F9     &kp F10
&kp BKSP   &kp DEL    &trans     &trans    &trans       &kp F11   &kp F12    &trans     &trans     &trans 
           &kp LALT   &kp ENTER  &kp ENTER                                              &trans     &trans     &trans
>;
       };

       num_layer {
           bindings = <
&kp N1    &kp N2     &kp N3     &kp N4     &kp N5       &kp N6    &kp N7     &kp N8     &kp N9     &kp N0
&kp TAB   &trans     &trans     &trans     &trans       &trans    &trans     &kp MINUS  &kp EQUAL  &lt 5 BSLH
&kp ESC   &trans     &trans     &trans     &kp FSLH     &kp SEMI  &kp SQT    &kp LBKT   &kp RBKT   &trans
          &kp LALT   &kp ENTER  &kp ENTER                                               &trans     &trans     &trans
>;
       };


       mouse_layer {
           bindings = <
&trans    &trans     &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans
&trans    &trans     &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans
&trans    &trans     &trans     &trans     &trans       &trans    &mkp MB1   &mkp MB3   &mkp MB2   &trans
          &kp LALT   &kp ENTER  &kp ENTER                                               &trans     &trans     &trans
>;
       };

       scroll_layer {
           bindings = <
&trans    &trans     &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans
&trans    &trans     &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans
&trans    &trans     &trans     &trans     &trans       &trans    &mkp MB1   &mkp MB3   &mkp MB2   &trans
          &kp LALT   &kp ENTER  &kp ENTER                                               &trans     &trans     &trans
>;
       };

        bt_layer {
           bindings = <
&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR &bt BT_CLR_ALL &trans       &trans       &trans        &trans  &trans  &trans  &trans  &trans
&trans     &trans         &trans       &trans       &trans        &trans  &trans  &trans  &trans  &trans
          &kp LALT   &kp ENTER  &kp ENTER                                               &trans     &trans     &trans
>;
        };
    };
};
